@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#highlightSwiper {
	--swiper-pagination-color: #3c97ab;
	--swiper-pagination-bullet-inactive-color: #ffffff;
	--swiper-pagination-bullet-inactive-opacity: 0.8;
}

.swiper-button-prev {
	--swiper-navigation-color: white;
}

.swiper-button-next {
	--swiper-navigation-color: white;
}
